@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.nav {
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;

    background: linear-gradient(90deg, rgba(24, 171, 198, 1) 0%, rgba(35, 115, 193, 1) 100%);
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}


.nav .container {
    width: 100%;
    max-width: 1200px;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav .brand {
    flex: 1;
}

.nav .brand-name {
    font-size: 1.75rem;
    font-weight: 700;
}

.nav .nav-links {
    display: flex;
    gap: 2rem;
}

.nav .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    font-weight: 500;
    position: relative;
    transition: color 0.3s;
}

.nav .nav-links a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    display: block;
    background: white;
    transition: width 0.3s;
    bottom: -4px;
    left: 0;
}

.nav .nav-links a:hover::after {
    width: 100%;
}

.nav .buttons {
    display: flex;
    gap: 1rem;
}

.nav .buttons .btn-primary {
    background-color: white;
    color: #18abc6;
    border: 1px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.nav .buttons .btn-primary:hover {
    background-color: #18abc6;
    color: white;
    border: 1px solid #18abc6;
}

.nav .buttons .btn-secondary {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.nav .buttons .btn-secondary:hover {
    background-color: white;
    color: #18abc6;
}

.nav .icon {
    font-size: 1.375rem;
    cursor: pointer;
    display: none;
}

.nav .dropdown {
    display: none;
    /* إخفاء القائمة المنسدلة افتراضيًا */
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;
    width: 100%;
    background-color: #18abc6;
    position: absolute;
    top: 6rem;
    /* يجب تعديله إذا كانت القائمة تظهر في مكان غير صحيح */
    left: 0;
    z-index: 10;
    /* لضمان ظهور القائمة فوق المحتويات الأخرى */
}

.nav .dropdown-links {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;
    width: 100%;
}

.nav .dropdown-links a {
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.125rem;
    transition: color 0.3s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav .icon {
    font-size: 1.375rem;
    cursor: pointer;
    display: none;
    /* Hidden by default, shown on smaller screens */
}

.nav .dropdown-links a:hover {
    color: #333;
}

@media (max-width: 1024px) {
    .nav .nav-links {
        display: none;
    }

    .nav .buttons {
        display: none;
    }

    .nav .icon {
        display: block;
    }

    .nav .dropdown {
        display: flex;
    }
}